<%
    var lastDay = 0;
    var day;
    page.posts.each(function(post){
        day = post.date.date();
        if (lastDay !== day) {
%>
            <h2><a href="<%= config.root + '/archives/' + post.date.format('YYYY/MM/DD') %>" target="_blank">
                <%= post.date.format(config.date_format) %>周刊
            </a></h2>
<%
            lastDay = day;
        }
    });
%>

