<%- partial('_partial/head') %>
<body class="index">
    <header id="header" class="weekly-header">
        <div class="header-inner clearfix">
            <h1 class="weekly-title">Bravo周刊</h1>
            <div class="weekly-meta">
                <p class="tswk-editor">本周编辑：<a href="baidu://message/?id=rorannf">晴文</a></p>
                <p class="tswk-reviewer">本周校审：<a href="baidu://message/?id=Yushuang_sys">玉双</a></p>
            </div>
        </div>
    </header>
    <div class="weekly-content clearfix">
        <%- body %>
    </div>
    <%- partial('_partial/footer') %>
</body>
</html>
